.settings {
  font-size: 12px;
  text-align: center;
  // margin-top: 10px;
  // border-top: 1px dashed #e5e5e5;
  position: relative;

  .settings-about,
  .settings-btn {
    font-size: 12px;
    width: 150px;
  }

  .settings-about {
    display: block;
    margin: 10px auto;
  }
}
