.settings {
  font-size: 12px;
  text-align: center;
  // margin-top: 10px;
  // border-top: 1px dashed #e5e5e5;
  position: relative;

  .settings-pop-info {
    font-size: 12px;
    display: none;
    padding: 8px;
    // background-color: rgb(187, 130, 130);
    position: absolute;
    // top: 0;
    right: 0;
    left: 0;
    bottom: -35px;
  }

  .settings-btn {
    font-size: 12px;
    width: 200px;
  }

  &:hover {
    .settings-pop-info {
      display: block;
    }
  }
}
