.box {
  position: relative;
  span {
    display: inline-block;
    width: 16px;
    height: 4px;
    // border-radius: 50%;
    margin: 0 6px;
    // border: 1px solid #e0e0e088;
    cursor: pointer;
    color: white;
    position: relative;
    opacity: 0.5;
    transition: height 0.1s, opacity 0.3s, border 0.1s;

    &.active {
      height: 5px;
      width: 16px;
      border: 1px solid #e0e0e03e;
      // position: relative;
      // top: 2px;
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }
}
